*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template:
    'header header header' auto
    'sidebar main categories-2' 300px
    'sidebar main categories-2' 300px
    'second-main second-main second-main '300px
    'footer footer footer'auto/
    300px auto 300px;
}

 /* --HEADER  STARTS-- */

header {
    grid-area: header;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    background-color: rgba(81, 128, 89, 0.536);
    padding-top:15px;
    padding-bottom: 10px;
    padding-left:100px ;
    display: flex;
}
header h3{
    padding-left: 30px;
    padding-top: 3px;
    color: white;
    animation-duration: 6s;
    animation-name: slideInLeft ;
}
.navigation{
    overflow: hidden;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 5px;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
    text-decoration: initial;
    color: initial;
    font-size: 14px;
}
.navigation a {
    color:rgba(52, 52, 52, 0.51);
    text-decoration: none;
    padding-left: 5px;
    border-bottom: 2px solid transparent;
    text-align: center;
}
.navigation a:hover{
    border-color:rgba(255, 192, 203, 0.221);
}

nav .current-page { 
    color: pink;
    border-color:rgba(255, 192, 203, 0.221);
}
header button:hover{
    background-color:rgba(223, 223, 223, 0.1);
    border-radius: 5px;
 }
header img{
     padding-left: 5px;
 }
header .material-symbols-outlined{
     padding-left: 5px;
     padding-right: 10px;
     color: grey;
 }

  /* --HEADER  ENDS-- */



   /* --SIDEBAR  STARTS-- */

.sidebar{
    grid-area: sidebar;
    margin-left: 30px;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
}
.sidebar h3{
    padding-bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   color: rgba(0, 0, 0, 0.742);
}
.categories{
    list-style: none;
    text-align: center;
    background-color: transparent;
    padding-bottom: 20px;
}
.categories a{
    text-decoration:none ;
    color: rgba(0, 0, 0, 0.742);
}
.lists{
    padding-bottom: 10px;
    background-color: transparent;
    margin-bottom: 10px;
    padding-top: 20px;
    border: 1.5px solid rgba(81, 128, 89, 0.536);
    border-radius: 25px;
}
.lists:hover{
    background-color: rgba(128, 128, 128, 0.344);
}
.sidebar img{
padding-top: 10px;
margin-left: 40px;
}
 /* --SIDEBAR  ENDS-- */



  /* --MAIN  STARTS-- */
main{
    margin-top: 20px;
    grid-area: main;
    background-image: url(/images/fodd.jpeg);
    background-repeat:no-repeat;
    background-size: 800px 400px;

}
main h1{
    color: rgba(81, 128, 89, 0.536);
    padding-top: 410px;
    padding-left: 5px;
}
main p{
    color: rgba(131, 131, 131, 0.671);
    padding-left: 5px;
}

 /* --MAIN  ENDS-- */



  /* --categories-2  STARTS-- */
.categories-2{
    grid-area: categories-2;
    margin:10px;
    background-color: rgba(217, 216, 216, 0.28);
}
.categories-2 img{
    margin: 10px;
}
.categorie-2_img{
    margin:10px ;
    display: inline-flex ;
}
.categories-2 h3{
    margin:10px;
    color: rgba(0, 0, 0, 0.692);
}
.categories-2 p{
    margin:10px 25px;
    color: rgba(0, 0, 0, 0.384); 
}

/* --categories-2  ENDS-- */
footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.556);
    padding: 10px 20px;
    text-align:center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}


/* --FOOTER  STARTS-- */
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: pink;
}
/* --FOOTER  ENDS-- */