*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template:
    'header header header'50px
    'second-header second-header second-header'50px
    'main main sidebar'400px
    'main-footer main-footer sidebar'50px/
    auto auto 400px;

}
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');

header{
    padding-top:15px;
    padding-left:100px ;
    grid-area:header ;
    background-color: rgba(223, 220, 220, 0.088);
    display: flex;
}
header h4{
    font-family: 'Dancing Script', cursive;
    color:rgba(66, 66, 66, 0.929);
}
header button{
   padding-left: 2px;
   padding-right: 2px;
    color:rgba(0, 0, 0, 0.387);
    border: none;
    border-bottom: thin solid rgba(66, 66, 66, 0.929);
    background-color: rgba(233, 233, 233, 0.272);
}
label {
    padding-left: 50px;
}
input {
    border: transparent;
    border-bottom: thin solid rgba(66, 66, 66, 0.929);
    padding-bottom: 5px;
    background-color: transparent;
    width: 200px;
}
input:focus{
    outline:none;
    background-color: rgba(220, 220, 220, 0.077);
    border-radius: 2px;
}
header .material-symbols-outlined{
    color: rgba(128, 128, 128, 0.521);
    font-size: 15px;
    padding-left: 5px;
    padding-top: 6px;
    padding-right: 420px;
}
header img{
    position: relative;
    width:100px;

}
.second-header{
    grid-area:second-header ;
    background-color: rgb(255, 255, 255);
    padding-top:15px;
    padding-left:100px ;
    display: flex;
}
.second-header h3{
    padding-left: 30px;
    padding-top: 3px;
    color: pink;
    animation-duration: 6s;
    animation-name: slideInLeft ;
}

@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
 
main {
    grid-area: main;
    background-color: rgba(128, 255, 0, 0.354);
}
.sidebar {
    grid-area: sidebar;
    background-color: cadetblue;
}
.main-footer{
    grid-area: main-footer;
    background-color: cornflowerblue;
}